
.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #01A982;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  border: 2px solid #01A982;
  box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
  outline: none;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &.selected {
    border-color: #01A982;
    box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
  }

  &:hover,
  &:focus {
    background-color: #082517;
  }

  img {
    width: 50px;
    height: 50px;
   
  }

  


}
.customBadge {
  position: absolute; /* Adicione esta linha */
  top: 0; /* Adicione esta linha */
  right: 0; /* Adicione esta linha */
  font-size: 15px !important;
  font-weight: bold !important;
  color: white !important;
  background-color: red !important;
  border: 2px solid red !important;
  border-radius: 5px;
}

.floatingButton.selected {
  border: 2px solid #01A982;
  box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
}
.primary {
  background-color: #01A982;
  border-color: #01A982;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    background-color: #01A982;
    border-color: #01A982;
    color: #fff;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: -120px;
  

  input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 10px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    background-image: url(search.png);
    background-size: cover;
    cursor: pointer;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -15px;
}

.searchResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.treatments {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 235px);
  gap: 15px;
  width: 100%;
  justify-content: center; /* Adicione esta linha */

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); /* Alteração para tornar responsivo */
  }

  @media (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr); /* Alteração para tornar responsivo */
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr); /* Alteração para tornar responsivo */
  }


// Adicione a classe .treatmentsItemContainer
.treatmentsItemContainer {
  width: 100%;
}



  .treatmentsItem {
    background-color: none;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.15);
    padding: var(--s16);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    transition: transform 0.3s ease;
    /* Adicione essa linha para definir a largura */
    height: 450px; /* Ajuste a altura conforme necessário */
    border-radius: 15px;
    
  
    
  h3 {
    margin-top: 15px;
    margin-bottom: 32px;
    font-family: "IBM Plex Sans Hebrew", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: var(--blue-black);
   }
   
 
  p {
  line-height: 1.5;
 
  & + p {
  margin-top: var(--s16);
  }
}
 
.description {
  max-height: calc(1.5em * 5);
  overflow-y: auto;
  padding: 0 1rem;
  color: var(--blue-black);
  margin-top: 200px;
  margin-bottom: 15px;
  padding-top: 5px;
  background-color: #f5f5f5;
  position: absolute;
  
  p {
    
  font-size: 11px;
  line-height: 1.5;
 
  & + p {
  margin-top: var(--s16);
  }
  }
 
  &::-webkit-scrollbar {
  background: none;
  border-radius: 3px;
  width: 8px;
  }
  &::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 8px;
  }
 }
  }
  .customSelectedButton {
    outline: none;
    border: 2px solid #01A982;
    box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
  }
  

  .courseInfo {
    
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: auto;
    
    .courseInfoItem {
      font-size: 12px;
      margin: 0 5px;
      align-self: flex-end;
  
      .courseInfoText {
        font-size: 12px;
        color: black;
      }
    }
  }
  
  .selected {
    transform: translateY(-5px);
  }
  .selectedButton {
    outline: none;
    border: 2px solid #01A982;
    box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
  }
  

    
  .quantityOption {
    margin-top: 15px;
    font-size: 12px;
    color: black;
  }
  
  .courseButton {
    position: static;
    bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    
    &.selected {
      border-color: #01A982;
      box-shadow: 0 0 0 4px rgba(26, 111, 69, 0.3);
    }
  }
  .courseContainer {
    position: absolute;
    opacity: 1;
  }
  
 


@media (max-width: 100px) {
  .treatments {
    grid-template-columns: 1fr;

    .treatmentsItem {
      padding: var(--s32) var(--s16);
    }
  }

  .imagesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .imagesContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 100px;
  }

}
@media screen and (max-width: 235px) {
  .floatingButton {
    width: 15px;
    height: 15px;
  }
}

}