.logoMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    order: 2;
  }
}

.logo {
  @media (max-width: 768px) {
    order: 1;
  }
}

.menuMobile {
  @media (max-width: 768px) {
    order: 3;
  }
}

.menuItem {
  display: block;
  padding: 1rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
  margin-left: 15px;
 

  &:hover {
    color: #ddd;
    transition: color 0.3s;
  }
}

@media (max-width: 768px) {
  .logoMenuContainer {
    flex-direction: column;
  }

  .menuItem {
    text-align: center;
    padding: 0.5rem 0;
    
  }
}
.blackBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 44px;
  background-color: #27242A;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin-left: var(--s24);
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 164px;
  background-color: #00AC5A;
  padding: var(--s08) 0;
  z-index: 1000;

  div {
    color: var(--blue-black);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    a {
      padding: 0.5rem;
      transition: 0.2s ease;

      & + a {
        margin-left: var(--s32);
      }

      &:hover {
        color:var(--blue-dark);
      }
    }
  }

  .menuMobile {
    display: none;
    width: 100%;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: var(--blue-black);
    color: #f1f7f3;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s ease;

}

.btnMenuMobile {
  display: none;
  background: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border: none;
  color: black;
  cursor: pointer;

  span {
    margin-left: 15px;
  }
}

.iconHamburguer {
  width: 20px;
  border-top: 2px solid var--white;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s ease;
  }
}

.menuOpen .iconHamburguer {
  border-top: transparent;
}
.menuOpen .iconHamburguer::before {
  transform: rotate(135deg);
}
.menuOpen .iconHamburguer::after {
  transform: rotate(-135deg);
  position: relative;
  top: -7px;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 25px;
  margin-top: 1px;
}

.btnAgendar {
  margin-right: 25px;
}
@media (max-width: 768px) {
  .menu,
  .btnAgendar {
    display: none !important;
  }
  .btnMenuMobile {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .menuMobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuMobile ul li {
    margin-bottom: 25px;
  }
}



}